@model List<LinksManager.Models.LinkEntity>
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Index</h2>
<h4>Add new useful link</h4>
@using (Html.BeginForm("InsertLink", "Links", FormMethod.Post))
{
    <div>
        Name : @Html.TextBox("linkName")
        URL :  @Html.TextBox("URL")
        <input type="submit" value="Add"/>
    </div>
}
<table>
    <thead>
        <tr>
            <th>
                Id
            </th>
            <th>
                Name
            </th>
        </tr>
    </thead>
    <tbody>
        @foreach (var link in Model)
        {
            <tr>
                <td>
                    @link.Id
                </td>
                <td>
                    <a href="@link.Url">@link.Name</a>
                </td>
            </tr>
        }
    </tbody>
</table>
